@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');

h1{
    font-family: 'Shrikhand', cursive;
}

.accueil h1, p, h2, h3{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
    padding:0;
}

figure{
    margin:0;
}

a{
    color: black;
}

ul{
    padding:0;
}

.border-style{
    border-radius: 15px;
    box-shadow:0px 3px 10px 4px #eaeaea;
}

.block-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-img img{
    width:100%;
    height: 250px;
}

.arrow{                     /*peut etre enlever l icon sur la page d accueil*/
    display: none;
}

.menu-icon{
    margin: 0px 60px 0 -43px;
}

.header-map{               /*pour un format desktop*/
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f6f6f6;
    padding-bottom: 54px;
    text-align: center;
}

form p{
    font-size: 19px;
}

form h2{
    margin: 41px auto 0;
}

.formulaire {
    background-color: #eaeaea;
    padding: 1%;
    box-shadow: inset 0px 2px 4px #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-form{
    margin:2%;
}

input {
    border: none;
    font-size: 1em;
    background-color: #eaeaea;
    text-align: center;
    width: 49%;
    padding: 15px;
}

.btn{
     border-radius: 25px;
     color: white;
     box-shadow:1px 2px 5px grey;
     font-size: 1em;
     padding:15px;
     background-image:linear-gradient(172deg, #FF79DA, #9356DC);
     width:54%;
     margin: 3% auto 0;
 }

.function{
    margin:12% 5% 15%;
}

.function li{
    padding:10px;
    background-color: #f6f6f6;
    width:95%;
    font-weight: bold;
    margin: 6% auto;
}

.function li:hover{
    background-color: #f5edff;
    border-radius: 15px;
    box-shadow:0px 3px 10px 4px #eaeaea;
    margin:7% auto;
    padding:10px;
    width:95%;
    font-weight: bold;
}

.num{
    background-color: #9356DC;
    border-radius: 25px;
    padding:1% 2.5%;
    color:white;
    margin:0 -22px;
    font-weight: bold;
}

.icon-function{
    margin: 0 6% 0 14%;
    color:#8b8b8b;
}

.icon-function:hover{
    margin: 0 6% 0 14%;
    color:#9356DC;
}

.cards img{
    width:100%;
    height:190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.cards{
    background-color: #f6f6f6;
    padding:5% 5% 40px 5%;
}

.cards li{
    background-color: white;
    position:relative;
    margin:6% auto;
}

p.news {
    background-color: #99E2D0;
    color: green;
    width: 81px;
    position: absolute;
    left: 243px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}

#menu {
    position: relative;
    top: -66px;
    border-radius:25px 25px 0 0;
    padding-bottom:0;
    display: flex;
    flex-direction: column;
}

#menu ul{
    margin:0;
}

#menu h1 {
    margin: 34px 0 0;
    display: flex;
    justify-content: space-between;
}

#menu li.menu-titre{
    background-color: #f6f6f6;
    padding:0;

}

#menu h2 {
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    margin: 9px 0 0px;
    font-weight: 300;
    font-size: 1.1em;
}

#menu li {
    padding: 0 18px 0 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu h3 {
    width: 100%;
    margin: 10px 0 0;
    font-size: 1.5em;
    font-weight: 400;
}

#menu p {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 300;
}
 #menu p.prix{
    font-weight: 400;
 }
.icon-heart{
    position: absolute;
    left:286px;
    top:175px;
}

.icon-heart{
    font-size: 1.7em;
    animation-name:fullHeart;
    animation-duration: 4s;
}

@keyframes fullHeart{
    from{background-image: white;}
    to{background-image:linear-gradient(172deg, #FF79DA, #9356DC);}
 }


figcaption p, figcaption h2{
    margin:0;
}

figcaption{
    padding: 0px 4% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figcaption h2{
    width:90%;
}

.icon-up{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8b8b8b;
    width:25px;
    margin:auto;
    padding-top:17px;
    color:#8b8b8b;
}

footer{
    background-color: #353535;
    color:white;
    padding:2% 6%;
}

footer h1{
    font-size: 1em;
}

footer a{
    color:white;
}

footer li{
    background-color: #353535;
    line-height: 2;
}

.icon-footer{
    margin:0 2%;
}

@media screen and (min-width:768px){
    body{
        width:1200px;
        margin:auto;
        border:1px solid black;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }

    header{
        width:100%;
        padding:3%;
    }
    input{
        width:15%;
    }
    .header-map{               /*pour un format desktop*/
        display:flex;
    }

    .function, form{
        width:100%;
    }

    .function {
        margin: 2%;
    }

    .btn{
        width:20%;
    }

    .function ul{
        flex-wrap: nowrap;   
    }

    .function li{
        margin: 2% auto;
        width: 22%;
    }

    .function li:hover{
        margin: 2% auto;
        width: 22%;
    }

    .icon-function{
        display: none;
        
    }

    .num{
        margin:0;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    .cards li {
        background-color: white;
        position: relative;
        margin: 4% auto;
        width: 42%;
    }

    .cards {
        background-color: #f6f6f6;
        padding: 5% 5% 40px 5%;
        margin:0;
    }


    /* mettre l icon en caché et visible au passage de la sourie*/

    .icon-up:hover{
        visibility: visible;
        justify-content: center;
        border-bottom: 2px solid #8b8b8b;
        width:25px;
        margin:auto;
        padding-top:17px;
        color:#8b8b8b;
    }

    
}


/*#9356DC #FF79DA #99E2D0*/