@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');

h1{
    font-family: 'Shrikhand', cursive;
}

.accueil h1, p, h2, h3, footer{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
    padding:0;
}


figure{
    margin:0;
}

a{
    color: black;
}

ul{
    padding:0;
}


.loader{
    visibility:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(#9356dcbd, #ff79dac7);
    position:fixed;
    z-index: 1;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name:loader;
    animation-duration: 1s;
}

.spiner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid transparent;
    border-top: 16px solid #9356DC;
    border-bottom: 16px solid #FF79DA;
    border-radius:50%;
    width: 120px;
    height: 120px;
    animation:spin 200ms linear infinite;
}

.fa-hamburger {
    font-size: 52px;
    position: absolute;
    top: 39%;
    background: linear-gradient(to bottom, #f59e35 43%, #662f2f 70%, #f59e35 43%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.load-text{
    font-size: 29px;
    color:whitesmoke
}

@keyframes loader {
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}


@keyframes spin {
    0%{
        transform: rotate(0deg);

    }
    100%{transform: rotate(360deg);}
}



.border-style{
    border-radius: 15px;
    box-shadow:0px 3px 10px 4px #eaeaea;
}

.block-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.block-header{
    text-align: center;
}

.menu-img img{
    width:100%;
    height: 275px;
    object-fit: cover;
}

.arrow{                     
    display: none;
}

.menu-icon{
    margin: 0px 60px 0 -43px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f6f6f6;
    padding-bottom: 54px;
    
}

header form{
    text-align: center;
}

header form p{
    font-size: 19px;
    font-weight: 100;
}

form h2{
    margin: 41px auto 0;
}

.formulaire {
    background-color: #eaeaea;
    padding: 1%;
    box-shadow: inset 0px 2px 4px #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-form{
    margin:2%;
}

input {
    border: none;
    font-size: 18px;
    background-color: #eaeaea;
    text-align: center;
    padding: 15px;
}

.btn{
     border-radius: 25px;
     color: white;
     box-shadow:1px 2px 5px #a1a1a1;
     background-image:linear-gradient(172deg, #FF79DA, #9356DC);
     margin: 3% auto 0;
     transition: 400ms;
 }

 .btn:hover {
    opacity: 0.9;
    box-shadow: 0px 2px 12px 1px #a8a8a8;
}

.function{
    margin:12% 5% 15%;
}

.function li {
    padding: 10px;
    background-color: #f6f6f6;
    font-weight: bold;
    margin: 7% auto;
    color: #8b8b8b;
    display: flex;
    align-items: center;
}

.function li:hover{
    background-color: #f5edff;
    color:#9356DC;
}

.function p{
    font-weight: 400;
    color:black
}

.num{
    background-color: #9356DC;
    border-radius: 25px;
    padding:1% 2.5%;
    color:white;
    margin:0 -22px;
}

.icon-function{
    margin: 0 6% 0 14%;

    
}

h1{
    font-weight: 500;
    font-size: 25px;
}

.cards img{
    width:100%;
    height:190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.cards{
    background-color: #f6f6f6;
    padding:5% 5% 10% 5%;
}

.cards li{
    background-color: white;
    position:relative;
    margin:6% auto;
}

.cards h2{
    font-size: 19px;
    font-weight: 400;
}

p.news {
    background-color: #99E2D0;
    color: green;
    width: 81px;
    position: absolute;
    left: 73%;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}


.para-lieu{
    font-weight: 100;
}

#menu {
    position: relative;
    top: -67px;
    border-radius:25px 25px 0 0;
    padding-bottom:0;
    display: flex;
    flex-direction: column;
}

#menu ul{
    margin:0;
}

.header-cards {
    display: flex;
    justify-content: space-between;
}

#menu li.menu-titre{
    background-color: #f6f6f6;
    padding:0;

}

#menu h2 {
    border-bottom: 3px solid #99E2D0;
    width: 45px;
    margin: 9px 0 0px;
    font-weight: 100;
}

#menu li{
    display: flex;
    justify-content: space-between;
}

.menu-1{
    transform-origin: bottom;
    animation: animation-plat 1.5s ease-in;
}

.menu-2{
    transform-origin: bottom;
    animation: animation-plat 1s ease-in;
}

.menu-3{
    transform-origin: bottom;
    animation: animation-plat 0.5s ease-in;
}


@keyframes animation-plat{
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/*.animation{
    transform-origin: 50% bottom;
    animation:plat 1s linear 400ms normal;
}

@keyframes plat{
    from{
        transform:scaleY(0);
        opacity: 0;
    }
    to{
        transform:scaleY(1);
        opacity: 1;
    }
}*/

#menu p {
    margin:0;
}

#menu h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

.text{
    padding:9px 12px; 
    flex-grow: 1;
    font-size: 15px;
}

.menu:hover{
    flex-grow: 0;
}

.para{
    width: 213px;
    font-weight: 100;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prix{
    display: flex;
    align-items: flex-end;
    padding:2%;
}

.check{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    color:#99E2D0;
    background-color: #99E2D0;
    transform: scaleX(0);
    transform-origin:right;
    transition:600ms;
 }

.menu:hover .check{
    opacity: 1;
    max-width:53px;
    flex-grow: 1;
    transform: scaleX(1);
 }

 .fa-check{
    border-radius: 15px;
    padding:4px;
    background-color: white;
    transform: rotate(180deg);
 }

 .menu:hover .fa-check{
     transform: rotate(360deg);
     transition: 1s;
 }

#menu .icon-heart {
    top:4%;
    left: 84%;
}

.icon-heart {
    display: flex;
    position: absolute;
    left: 87%;
    top: 77%;
    font-size: 28px;
    margin: 0;
}

.heart-full1{
    padding:2%;
}

.icon-heart:hover .heart-full1{
    opacity: 0;
    transition: 1s;
}

.heart-full2 {
    opacity: 0; 
    padding: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
    transition: 1s;
}

.icon-heart:hover .heart-full2{
    opacity: 1;
    background:linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

figcaption{
    padding:2% 5% 3%;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figcaption p, figcaption h2{
    margin:0;
}

figcaption h2{
    width:90%;
}

#menu .btn {
    margin: 3% auto 7%;
}

footer{
    background-color: #353535;
    color:white;
    padding:2% 6%;
    width:100%;
}

.menu-footer{
    margin-top:-79px;
}
footer h1{
    font-size: 22px;
    font-weight: 100;
}

footer a{
    color:white;
}

footer li{
    background-color: #353535;
    line-height: 2;
}

.icon-footer{
    margin:0 2%;
}

.icon-up {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #dbdbdb;
    width: 25px;
    margin:0 auto 10%;
    padding-top: 17px;
    color: #dbdbdb;
}

/**************************MÉDIA*************************************************/

@media screen and (min-width:992px){
    body{
        width:60%;
        margin:auto;
        border:1px solid black;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }

    header{
        width:100%;
        padding:0;
    }

    .block-header{
        margin: 2% 0 0; 
    }

    .menu-img img {
        height: 348px;
        margin-top: 1%;
        object-fit: cover;
    }
    
    input{
        width:15%;
    }

    .btn, .btn:hover{
        width:20%;
    }

    .function, form{
        width:100%;
    }

    .function {
        margin: 2%;
    }

    .function ul{
        flex-wrap: nowrap;   
    }

    .function p {
        padding-left: 5%;
    }

    .function li{
        margin: 2% auto;
        width: 277px;
    }

    .function li:hover{
        margin: 2% auto;
    }

    .num{
        margin:-23px;
        padding:1% 3%;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    .cards li{
        margin: 2% auto;
        width:30%;
    }

    .menu-img img{
        object-fit: cover;
        height: 490px;
    }
    #resto h1 {
        padding: 2% 2% 0;
    }

    #resto li {
        background-color: white;
        position: relative;
        margin: 4% auto;
        width: 42%;
    }

    .fa-hamburger{
        top:41%;
    }

    .cards{
        padding:0;
        width: 100%;
    }

    .header-cards {
        margin-top: 2%;
    }

    #menu{
        top:0;
        border-radius: 0;
        width: 100%;
    }

    #menu ul{
        width: 100%;
    }

    .menu-img{
        margin-bottom: 0;
    }

    #menu li.menu-titre {
        width: 4%;
        margin:2%;
    }

    #menu li h2{
        width:100%;
        margin:0;
    }

    #menu .anim{
        margin:2% auto;
        background-color: white;
        width:338px;
    }

    #menu h1{
        padding:0 2%;
    }

    p.news{
        left:80%;
    }

    .icon-up{
        display: none;
    }

    .btn, .btn:hover {
        margin-bottom: 1%;
    }

    #menu .icon-heart {
        left: 91.5%;
        top:5%
    }

    footer{
        width:100%;
    }

    .menu-footer {
        margin-top:0
    }

    footer ul{
        flex-wrap: nowrap;
    }

    footer li{
        width:100%;
    }  
}





/*#9356DC #FF79DA #99E2D0*/